
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&family=Manrope:wght@200;300;400;600;800&display=swap');
:root {
    font-size: 16px;
    font-weight: 300;
    font-family:'Manrope', sans-serif;
    background-color:#0B0C10;
    /* CSS Variables */
    --text-primary: #6D7DCA;
    --text-secondary: #4732B3;
    --titles: #A9AABC;
    --icons: #6D7DCA;
    word-spacing: 3px;
}


body {
    margin: 0;
    padding: 0;
    border: none;
    color: var( --text-primary);
}


.navbar-container{
    padding: 0;
    margin: 0;
    background-color: rgb(17, 21, 33);
    position: fixed;
    border-radius: 10px;
    z-index: 1;
    
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh; 
    transition: width 200ms ease;
}

.nav-item{
    width: 100%;
    height: 100%;
    top:calc(50% - 12vh);
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    justify-content: center;
    color: var(--icons);
    transition: 600ms;
}

.link-text{
    display: none;
    margin-left: 1rem;
    font-weight: 800;
}

.nav-link svg{
    min-width: 2rem; 
}

.nav-link:hover{
    color: var(--text-secondary);
    background-color:#1D2944;
    transition: 600ms;
    border-radius: 4px;
}


/*  Large screens */
@media only screen and (min-width: 600px) {
    .navbar-container{
        width: 5rem;
        height: 50vh;
        top:calc(50% - 25vh); 
    }

    .navbar-container:hover{
        width: 16rem;
    }

    .navbar-container:hover .link-text{
        display: block; 
    }

    .main{
        margin-left: 5rem;
    }

    .container{
        width: min(90%, 90rem);
    }

    .project-container{
        height: 26rem;
        /* box-shadow: 12px 10px 5px rgba(40, 40, 40, 0.5); */
    }

    .project-text{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 1rem;
    }

    .project-text-inP{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 1rem;
    }

    .project-visual{
        left: 1.5rem; 
        max-width: 367px;
    }

    .project-visual-personal-2{
        left: 1.5rem; 
        max-height: 260px;
        min-width: 367px;
        max-width: 367px;
    
        top: 1.5rem;
        
    }

    .overlay{
        top: 25%;
    }

    .tech-stack-list{
        font-size: 14px;
        font-weight: 800;
        padding: 0; 
    }

    .tech-stack-list-inP{
        font-size: 14px;
        font-weight: 800;
        padding: 0; 
    }

    .tech-item{
        padding: 4px;
        margin-bottom: 1rem;
        margin-left: 0.5rem;    
    }

    .btn{
        position:absolute;
        top: 22rem;
        left: 60rem;
        max-width: 20%;
    }

    .project-type-text {
    font-size: 18px;
    }

}

/* Small screens  */
@media only screen and (max-width: 600px){
    .navbar-container{
        bottom:0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    .main{
        margin: 0 auto;
    }
    .container{
        height: auto;
        width: min(90%, 90rem); 
    }

    .project-container{
        display: flex;
        flex-direction: column;
        height: auto;
        /* box-shadow: 5px 10px 10px rgba(40, 40, 40, 0.5); */
    }
    
    .project-visual .image{
       max-width: 80%;
       display: block;
       margin-left: auto;
       margin-right: auto; 
    }

    .project-visual .img-anim{
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;   
    }

    .overlay{
        top: 20%;
    }

    /* .project-gif .gif-image{
        max-width: 40%;
    } */

    .project-visual-personal-2{
        max-width: 80%;
        max-height: 200px;
        width: 233px;
        height: 170px;
        display: block;
        margin-left: auto;
        margin-right: auto;  
        margin-top: 1rem;
    }
    .project-text{
        width:100%;
        max-width: 90%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.6rem;
    }

    .tech-stack-container{
        display:flex;
        justify-content: center;
        align-items: center;   
    }

    .tech-stack-container-inP{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .tech-stack-list{
        font-size: 12px;
        font-weight: 800;
        padding: 0;
        width: 80%;
        margin-bottom: 0; 
    }

    .tech-stack-list-inP{
        font-size: 12px;
        font-weight: 800;
        width: 80%;
        padding: 0;
        margin-bottom: 0; 
    }

    .project-text-inP{
        margin-top: 5rem;
        width:100%;
        max-width: 80%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }

    .tech-item{
        padding: 4px;
        margin-bottom: 1rem;
    }

    .btn{
       max-width: 55%;
       transform: translateX(70%);
    }
    
    .project-type-text {
    font-size: 16px;
    }

    .last-container{
    margin-bottom: 8rem;
    }
}





/* ========================== PAGE CONTENT =========================  */

/* ............... Applies to all ...........  */


.main{
    width: 90%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    position: relative;
}


.project-container{
    display: flex;
    border-radius: 10px;
    margin-bottom: 4rem;
    overflow-wrap: break-word;
    padding-bottom: 1rem;
    cursor: pointer;
    background: rgba(28, 34, 51, 0.5); 
    border: 1px solid rgba(19, 20, 65, 0.3);
    box-shadow: 12px 10px 5px rgba(40, 40, 40, 0.5);
    width: 100%;
    position: relative;
}


.project-text{
    width:100%;
    max-height: 100%;
    margin-bottom: 2rem;
}

.project-container:hover{

background: rgb(35, 47, 76, 0.4);
    /* background: rgba(28, 34, 50,0.6);  */
}

.project-visual{ 
    top: 1.5rem;
    width: 100%;
    position: relative;
    margin:0;
    padding:0;
}


.project-visual .image{
   border-radius: 4px;
   width: 100%;  
}

.tech-stack-container-inP{
    position: relative;
    top: 100%;
 }

 
.tech-stack-list{
    list-style: none;
 }


.tech-stack-list-inP{
    list-style: none;
}
 
 
 .tech-item{
    display: inline-block;
    border: 1px solid var(--text-secondary);
    background-color: var(--text-secondary);
    border-radius: 4px;
}



/* positioned relative to project-container */
.btn{
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    padding: 0;
    margin: 1rem 0; 
    width:10vh;

}

.btn .btn-text {
    width: 10rem;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--text-secondary);
}

.btn:hover .fa-circle-arrow-right{
    animation: bounce 300ms  ease-in-out infinite alternate;
    cursor: pointer;
}

@keyframes bounce {
    25%{padding-right: 0%;}
    100%{padding-right: 5%;}  
}

.list-item .fa-solid {
    color: var(--text-secondary);;
}

.btn .fa-solid .fa-circle-arrow-right{
    height:500px; 
}

.btn .project-link{
    text-decoration: none;
    color: inherit; 
}

.btn .project-link:visited{
    text-decoration: none;
}






/* ............... Profressional and Personal Projects ...........  */

.professional-title {
    text-align: center;
    margin: 2rem 0; 
    color: var(--titles);
    font-weight: 600;
    font-size: 35px;
}

.personal-title {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--titles);
    font-weight: 600;
    font-size: 35px;
}

.project-type-text {
    margin-bottom: 1rem;
    padding-left: 10px;
    font-weight: 600; 
   
}

.project-text h3{
    color: var(--text-secondary);
}

.key-points-title{
    margin-bottom: 0;
    color: var(--text-secondary);
}

.key-points{
    padding-left:8px;
    margin-top: 0;
}

.key-points .list-item{
    list-style: none;
    display: inline-block;
    align-items:baseline;
    padding-left: 1rem;
    padding-bottom: 0;
    margin-bottom: -1rem;  
}


/* ........................Personal Project 1 ........................ */

/*         Image hover        */
.project-visual .img-anim{
    display:block;
    opacity: 1;
    transition: .5s ease;
    border-radius: 4px;
    width: 100%;
}

/* containers order: container/project-container/project-visual */
.overlay {
    transition: .6s ease;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }

.project-visual:hover .img-anim{
    opacity: 0.5;
    cursor: pointer;
  }

.project-visual:hover .overlay{
    opacity: 1;
    cursor: pointer;
  }  
  
.overlay-text{
    color: var(--text-secondary); 
  }

.arrow-img-text{
    padding-left: 10px;
  }

/* Pop up video */
.close{
    position:absolute;
    top: 30px;
    right: 30px;
    max-width: 32px;
    cursor: pointer;
    
}

.project-gif{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0,0,0,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.project-gif .gif-image{
    position:relative;
    max-width: 900px;
    outline: none;
    width: 100%;
}

.project-gif.active{
    visibility: visible;
}

/* ........................Personal Project 2........................ */

.project-visual-personal-2{
    /* background-color: rgb(19, 28, 113, 0.5); */
    /* border-color:  rgba(18, 23, 60, 0.8 ); */
    background-color: rgba(18, 23, 60, 0.8 );

    border-radius: 4px;
    position: relative;
 
}

.progress-text{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: var(--text-secondary)
}

.project-visual-personal-2:hover {
   background-color:  rgba(18, 23, 60, 0.6 )
}





